# Dette er hemmelighetene som trengs for å kjøre Supabase lokalt.
# I en ekte produksjon bør disse genereres sikkert.

JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlZ2lzdGVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg0NTYwMDAsImV4cCI6MTk5NDA1NjAwMH0.fake-anon-key
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlZ2lzdGVyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY3ODQ1NjAwMCwiZXhwIjoxOTk0MDU2MDAwfQ.fake-service-key

POSTGRES_PASSWORD=password
SITE_URL=http://localhost:5173
API_EXTERNAL_URL=http://localhost:8000
